---
interface Props {
  image: string,
  name: string,
  description: string,
}
const {name,description,image} = Astro.props
---
<article class='text-center md:text-start space-y-4'>
  <div class='flex w-full justify-center md:justify-start'>
    <img
      src={image}
      alt=`Image of ${name}`
    />
  </div>
  <h4 class='text-blue-950 text-xl'>{name}</h4>
  <p>
    {description}
  </p>
</article>
