@import "tailwindcss";

@theme {
    --color-orange-manage: "hsl(12, 88%, 59%)",
}


@utility text-shadow {
    text-shadow: 0px 1px, 1px 0px, 1px 0px;
}

@utility wrapper {
    width: 100%;
    max-width: 1140px;
    padding-inline: 24px;
    margin-inline: auto;

    /* @media (min-width: 768px){
			padding-inline: 20px;
		} */
}

@utility bg-gradient {
    background: linear-gradient(90deg,
            rgba(49, 207, 114, 1) 0%,
            rgba(47, 181, 199, 1) 100%);
}