---

---
<section class="grid grid-cols-2 lg:grid-cols-4">
  <picture class="h-full">
    <source
      srcset="/sunnyside-landing/images/desktop/image-gallery-milkbottles.jpg"
      media="(min-width: 640px)"
      class="h-full w-full object-cover"
    />
    <img
      src="/sunnyside-landing/images/mobile/image-gallery-milkbottles.jpg"
      alt="Image of gallery"
      class="h-full w-full object-cover"
    />
  </picture>
  <picture class="h-full">
    <source
      srcset="/sunnyside-landing/images/desktop/image-gallery-orange.jpg"
      media="(min-width: 640px)"
      class="h-full w-full object-cover"
    />
    <img
      src="/sunnyside-landing/images/mobile/image-gallery-orange.jpg"
      alt="Image of gallery"
      class="h-full w-full object-cover"
    />
  </picture>
  <picture class="h-full">
    <source
      srcset="/sunnyside-landing/images/desktop/image-gallery-cone.jpg"
      media="(min-width: 640px)"
      class="h-full w-full object-cover"
    />
    <img
      src="/sunnyside-landing/images/mobile/image-gallery-cone.jpg"
      alt="Image of gallery"
      class="h-full w-full object-cover"
    />
  </picture>
  <picture class="h-full">
    <source
      srcset="/sunnyside-landing/images/desktop/image-gallery-sugarcubes.jpg"
      media="(min-width: 640px)"
      class="h-full w-full object-cover"
    />
    <img
      src="/sunnyside-landing/images/mobile/image-gallery-sugar-cubes.jpg"
      alt="Image of gallery"
      class="h-full w-full object-cover"
    />
  </picture>
</section>