---

---

<section class="h-[calc(100vh-80px)] bg-sky-400 flex flex-col relative">
  <h1
    class="text-5xl md:text-5xl lg:text-6xl font-black text-white font-serif uppercase text-center absolute top-0 w-full px-6 tracking-widest text-shadow"
  >
    We are creatives
  </h1>
  <picture class="h-full">
    <source
      media="(min-width: 640px)"
      srcset="/sunnyside-landing/images/desktop/image-header.jpg"
    />
    <img
      src="/sunnyside-landing/images/mobile/image-header.jpg"
      alt="We are creatives"
      class="object-cover h-full object-bottom w-full bg-red-300 block"
    />
  </picture>
</section>
