---
import Card from "../components/landing/Card.astro";
import LayoutTailwind from "../layouts/LayoutTailwind.astro";
---

<LayoutTailwind title='Projects Frontend Mentor'>
  <main class='pb-12 bg-slate-950'>
    <header class='h-screen grid place-content-center'>
      <h1 class='mx-auto max-w-screen-lg text-5xl font-bold text-center text-white sm:text-7xl'>
        Proyectos Frontend Mentor
      </h1>
    </header>
    <section
      class='wrapper w-full max-w-screen-xl grid gap-8 lg:gap-10 sm:grid-cols-2 xl:grid-cols-3'
    >
      <Card
        title='Acordion'
        description='Acordion Componente hecho con Javascript y CSS'
        image='/index/images/acordion.jpg'
        href='/acordion'
      />
      <Card
        title='Carrito de compras'
        description='Simulacion de un carrito de compras hecho con CSS y Javascript'
        image='/index/images/carrito.jpg'
        href='/carrito'
      />
      <Card
        title='Sunnyside Landing'
        description='Maquetacion de una  landing page con temática de verano'
        image='/index/images/sun-landing.jpg'
        href='/sunnyside-landing'
      />
      <Card
        title='Manage Landing'
        description='Maquetacion de una landing page con tema de software'
        image='/index/images/manage-landing.jpg'
        href='/manage-landing'
      />
      <Card
        title='Easy Bank Landing'
        description='Landing page de Easy Bank App'
        image='/index/images/easy-bank.jpg'
        href='/easybank'
      />
    </section>
  </main>
</LayoutTailwind>
