---
import Card from "../components/landing/Card.astro";
import LayoutTailwind from "../layouts/LayoutTailwind.astro";
---

<LayoutTailwind title="Welcome to Astro.">
  <main class="bg-slate-950 pb-12">
    <header class="h-screen grid place-content-center">
      <h1
        class="text-5xl mx-auto max-w-screen-lg text-center sm:text-7xl text-white font-bold"
      >
        Proyectos Frontend Mentor
      </h1>
    </header>
    <section
      class="grid gap-8 lg:gap-10 w-full max-w-screen-xl sm:grid-cols-2 xl:grid-cols-3 wrapper"
    >
      <!-- <divc class="flex flex-col">
        <a href="/acordion" class="text-xl underline text-blue-500">Acordion</a>
        <a href="/carrito" class="text-xl underline text-blue-500">Carrito</a>
      </divc> -->

      <Card
        title="Acordion"
        description="Acordion Componente hecho con Javascript y CSS"
        image="/landing/images/acordion.jpg"
        href="/acordion"
      />
      <Card
        title="Carrito de compras"
        description="Simulacion de un carrito de compras hecho con CSS y Javascript"
        image="/landing/images/carrito.jpg"
        href="/carrito"
      />
      <Card
        title="Sunnyside Landing"
        description="Maquetacion de una  landing page con temática de verano"
        image="/index/images/sun-landing.jpg"
        href="/sunnyside-landing"
      />
      <Card
        title="Manage Landing"
        description="Maquetacion de una  landing page con temática de verano"
        image="/index/images/sun-landing.jpg"
        href="/manage-landing"
      />
    </section>
  </main>
</LayoutTailwind>
