---
import Feature from "./Feature.astro";
---

<section class="wrapper flex flex-col lg:flex-row overflow-hidden space-y-[58px]">
  <div
    class="flex-1 lg:pr-[132px] flex flex-col justify-center gap-4 text-center lg:text-start"
  >
    <h2 class="text-4xl font-bold text-blue-950">
      What's diferent about Manage
    </h2>
    <p class="lg:pr-[100px] text-gray-500">
      Manage provides all the functionality your team needs, without the
      complexity. Our software is tailor-made for modern digital product teams.
    </p>
  </div>
  <div class="flex-1 lg:pl-4 space-y-6">
    <Feature
      number="01"
      title=" Track company -wide progress"
      description="See how your day-to-day tasks fit into the wider vision.Go from tracking progress at the milestone level all the way done to the smallest of cletails. Never lose sight of the bigger picture again."
    />
    <Feature
      number="02"
      title="Advanced build-in reports"
      description="Set internal delivery estimates and track progress toward company goals. Our customisable dashboard helps you build out the reports you need to keep key stakeholders informed."
    />
    <Feature
      number="03"
      title="Everything you need in one place"
      description="Stop jumping from service to another to communicate, store files,track tasks and share documents.Manage offers an all-in one team productivity solution."
    />
    
  </div>
</section>
