---

---

<section class="wrapper flex flex-col-reverse lg:flex-row pb-[104px] lg:pb-[148px]">
  <div class="lg:w-1/2 lg:pr-[120px] flex flex-col items-center lg:items-start justify-center gap-4 lg:gap-8 text-center lg:text-start bg-image">
    <h1 class="text-4xl sm:text-5xl font-bold text-blue-950 tracking-wide">
      Bring everyone together to build better products.
    </h1>
    <p class="lg:pr-[100px] text-gray-500">
      Manage makes it simple for software teams to play-day task white keeping
      the larger team goals in view.
    </p>
    <button
      class="inline-flex items-center text-white font-medium h-11 px-8 rounded-full bg-orange-manage hover:bg-orange-300 transition shadow-[0px_20px_12px_-12px_#ffedd6]"
      >Get started</button
    >
  </div>
  <div class="lg:w-1/2 lg:pl-8 flex justify-center">
    <img src="/manage-landing/images/illustration-intro.svg" alt="" />
  </div>
</section>

<style>
  .bg-image {
    /* @media (max-width: 1024px){
      background-image: url("/manage-landing/images/bg-tablet-pattern.svg");
      background-position: right -50px;
      background-size: 30%;
      background-repeat: no-repeat;
    } */
  }
</style>
