---
import Slide from "./Slide.astro";
---

<section class="pt-[80px] lg:pt-[162px]">
  <div class="mb-12">
    <h3 class="text-4xl font-bold text-center text-blue-950">
      What they've said
    </h3>
  </div>

  <swiper-container loop="true" class="pb-12">
    <Slide
      img="/manage-landing/images/avatar-anisha.png"
      name="Anisha Li"
      description="“Manage has supercharged our team’s workflow. The ability to maintain  visibility on larger milestones at all times keeps everyone motivated.”"
    />
    <Slide
      img="/manage-landing/images/avatar-ali.png"
      name="Ali Bravo"
      description="“We have been able to cancel so many other subscriptions since using  Manage. There is no more cross-channel confusion and everyone is much   more focused.”"
    />
    <Slide
      img="/manage-landing/images/avatar-richard.png"
      name="Richard Watts"
      description="“Manage allows us to provide structure and process. It keeps us organized  and focused. I can’t stop recommending them to everyone I talk to!”"
    />
    <Slide
      img="/manage-landing/images/avatar-shanai.png"
      name="Shanai Gough"
      description="“Their software allows us to track, manage and collaborate on our projects from anywhere. It keeps the whole team in-sync without being intrusive.”"
    />
  </swiper-container>
  <div class="flex justify-center">
    <button class="bg-orange-400 h-10 text-white rounded-full px-8"
      >Get started</button
    >
  </div>
</section>

<script
  src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"
></script>
<script>
  const swiperEl = document.querySelector("swiper-container");
  const swiperParams = {
    slidesPerView: 1,
    spaceBetween: 50,
    breakpoints: {
      640: {
        slidesPerView: 2,
      },
      1024: {
        slidesPerView: 3,
      },
    },
    on: {
      init() {},
    },
    autoplay: {
      delay: "2000",
    },
  };
  

  Object.assign(swiperEl, swiperParams);
</script>
