<section class="bg-orange-manage bg-after relative">
  <div class="wrapper py-8 flex flex-col lg:flex-row justify-between gap-8 lg:gap-16">
    <h3 class="text-3xl font-bold text-white flex-1 text-center lg:text-start">
      Simplify how your team works today
    </h3>
    <div class="flex-1 flex justify-center lg:justify-end items-center">
      <button
        class="bg-white hover:cursor-pointer h-10 text-orange-manage font-bold rounded-full px-8 hover:text-orange-300 transition"
        >Get started</button
      >
    </div>
  </div>
</section>

<style>
  .bg-after::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/manage-landing/images/bg-simplify-section-desktop.svg");
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;

    @media (max-width: 1024px){
        background-image: url("/manage-landing/images/bg-simplify-section-mobile.svg");
        background-position: top  left;
    }
  }
</style>
