---
interface Props {
    img: string,
    name: string,
    description: string,
}
const {img,name,description} = Astro.props
---

<swiper-slide class="">
    <div class="flex justify-center">
      <img
        src={img}
        alt="Image slide"
        class="size-16 translate-y-1/2"
      />
    </div>
    <div class="bg-gray-100/50 rounded-md px-6 py-8 text-center space-y-4">
      <p class="font-bold text-xl">{name}</p>
      <p class="text-gray-500">
       {description}
      </p>
    </div>
  </swiper-slide>